.wrapper {
  font-family: serif;
}

.row {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1.2fr;
  gap: 1rem;
  padding: 0.3rem 0;
}

.lineNo {
  text-align: right;
  color: #666;
}

.highlight {
  background-color: rgba(255, 230, 150, 0.6);
  
}
